:root{
    --font-family-Sans:'DM Sans', sans-serif;
    --font-family-Inter:'Inter', sans-serif;
    --font-weight-700: 700;
    --font-weight-500: 500;
    --font-weight-400: 400;
    --font-size52:5.2rem;
    --font-size24:2.4rem;
    --font-size18:1.8rem;
    --font-size16:1.6rem;
    --font-size14:1.4rem;
    --font-size12:1.2rem;
}
:root{
    --bitcoin-color:#F7931A;
    --soft-orange:#FFE9D4;
    --warm-black:#201E1C;
    --black:#282623;
    --gray: #757575;
    --gray-plan:#E5E5E5;
    --off-white:#FAF8F7;
    --just-white:#fff;
}
:root{
    --padding-block:5rem 0;
}
$breackp: (
    'small': 576px,
    'tablet': 768px,
    'escritorio': 992px,
    'tv': 1200px,
);